.webcam-app-container {
  text-align: center;
}

.webcam-app-global-controls {
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.webcam-app-global-controls > button {
  padding: 5px;
  margin: 5px;
}

.webcam-app-global-controls > select {
  padding: 5px;
  margin: 5px;
}

.webcam-app-area {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 0px;
  margin: 0px;
}

h2 {
  color: #C02942;
  margin-top: 30px;
  margin-bottom: 20px;
  font-family:"Calibri", sans-serif;
}