.webcam-app-global-controls {
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.webcam-app-global-controls > button {
  padding: 5px;
  margin: 5px;
}

.webcam-app-global-controls > select {
  padding: 5px;
  margin: 5px;
}

.webcam-app-area {
  text-align: center;
  padding: 0px;
  margin: 0px;
}